---
import { replacePlaceholdersInHtml } from '@libs/placeholder'
import Code from '@components/shortcodes/Code.astro'

interface Props {
  /**
   * Defines if extra JS snippet should be added to StackBlitz or not.
   * @default false
   */
  addStackblitzJs?: boolean
  /**
   * The example code.
   * If an array is passed, elements will be joined with a new line.
   */
  code: string | string[]
  /**
   * Custom markup to display in the source code section, different from the preview code.
   * If provided, this will be used instead of the `code` prop for the source display.
   */
  customMarkup?: string | string[]
  /**
   * The CSS class(es) to be added to the preview wrapping `div` element.
   */
  class?: string
  /**
   * The preview wrapping `div` element ID.
   */
  id?: string
  /**
   * Language used to display the code.
   * @default 'html'
   */
  lang?: string
  /**
   * Defines if the markup should be visible or not.
   * @default true
   */
  showMarkup?: boolean
  /**
   * Defines if the preview should be visible or not.
   * @default true
   */
  showPreview?: boolean
}

const {
  addStackblitzJs = false,
  code,
  customMarkup,
  class: className,
  id,
  lang = 'html',
  showMarkup = true,
  showPreview = true
} = Astro.props

let markup = Array.isArray(code) ? code.join('\n') : code
markup = replacePlaceholdersInHtml(markup)

// Use customMarkup for source code display if provided, otherwise use the processed markup
let sourceMarkup = customMarkup
  ? (Array.isArray(customMarkup) ? customMarkup.join('\n') : customMarkup)
  : markup

const simplifiedMarkup = sourceMarkup
  .replace(
    /<svg.*class="bd-placeholder-img(?:-lg)?(?: *?bd-placeholder-img-lg)? ?(.*?)".*?<\/svg>/g,
    (match, classes) => `<img src="..."${classes ? ` class="${classes}"` : ''} alt="...">`
  )
  .replace(
    /<img.*class="bd-placeholder-img(?:-lg)?(?: *?bd-placeholder-img-lg)? ?(.*?)".*?>/g,
    (match, classes) => `<img src="..."${classes ? ` class="${classes}"` : ''} alt="...">`
  )
---

<div class="bd-example-snippet bd-code-snippet">
  {showPreview && (
    <div id={id} class:list={['bd-example', className]}>
      <Fragment set:html={markup} />
    </div>
  )}
  {showMarkup && (
    <Code code={simplifiedMarkup} lang={lang} nestedInExample={true} addStackblitzJs={addStackblitzJs} />
  )}
</div>
