---
import Code from '@shortcodes/Code.astro'
import Example from '@shortcodes/Example.astro'
import * as tableContent from '@shortcodes/TableContent.md'

interface Props {
  /**
   * Any class(es) to be added to the `<table>` element (both in the example and code snippet).
   */
  class?: string
  /**
   * Show a simplified version in the example code snippet by replacing the table content inside `<table>` & `</table>`
   * with `...`.
   * @default true
   */
  simplified?: boolean
  /**
   * Optional theme for the table.
   */
  theme?: 'light' | 'dark'
}

const { class: className, simplified = true, theme } = Astro.props

// Build the attributes
const classAttr = className ? ` class="${className}"` : ''
const themeAttr = theme ? ` data-bs-theme="${theme}"` : ''
const allAttrs = `${classAttr}${themeAttr}`

const tableCode = `<table${allAttrs}>
${simplified ? '  ...' : await tableContent.compiledContent()}
</table>`

const exampleCode = `<table${allAttrs}>
${await tableContent.compiledContent()}
</table>`
---

<Example code={exampleCode} customMarkup={tableCode} />
