---
import { getConfig } from '../libs/config'
import type { Layout } from '../libs/layout'
import Head from '../components/head/Head.astro'
import Header from '../components/header/Header.astro'
import Scripts from '../components/Scripts.astro'
import Footer from '../components/footer/Footer.astro'

interface Props {
  frontmatter?: {
    description?: string
    thumbnail?: string
    title?: string
  }
  layout?: Layout
  robots?: string
}

const { frontmatter, layout, robots } = Astro.props

// TODO(HiDeoo) This should probably be refactored to use a content collection when I get a better understanding of the
// structure of the docs.
const title = frontmatter?.title ?? getConfig().title
const description = frontmatter?.description ?? getConfig().params.description
const thumbnail = frontmatter?.thumbnail ? `img/${frontmatter.thumbnail}` : 'brand/bootstrap-social.png'
---

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <Head description={description} layout={layout} robots={robots} thumbnail={thumbnail} title={title} />
  </head>
  <body
    ><!--TODO: handle {{ block "body_override" . }}<body>{{ end }} -->

    <Header layout={layout} title={title} />

    <!-- TODO:
			{{ block "main" . }}
			{{ end }}
		-->
    <main>
      <slot />
    </main>

    <!-- TODO:
			{{ partial "footer" . }}
		-->

    <Scripts layout={layout} />

    <!-- TODO(HiDeoo) Is this related to the footer partial just above? Or the footer block below? Something else? -->
    <!-- TODO: handle correctly the footer system: blocks, layouts, examples without footers, etc. But for now, let'us a Footer.astro everywhere! -->
    <Footer />

    <!-- TODO:
			{{ block "footer" . }}
			{{ end }}
		-->
  </body>
</html>
